<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.aornelas.wearable.freedive" >

    <uses-sdk android:minSdkVersion="20" android:targetSdkVersion="20" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".InhaleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".HoldActivity"
            android:label="@string/app_name"
            android:parentActivityName=".InhaleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearable.freedive.InhaleActivity" />
        </activity>
        <activity
            android:name=".ExhaleActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HoldActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearable.freedive.HoldActivity" />
        </activity>
        <activity
            android:name=".DiveActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ExhaleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wearable.freedive.ExhaleActivity" />
        </activity>
    </application>

</manifest>
